@{ 
    ViewBag.Title = "Ошибка";
}
<p>Тут ошибка</p>
<div class="div-box">
    <form asp-controller="Application" asp-action="action" method="post">
        <input type="submit" value="Выйти" class="btn btn-info" />
    </form>
</div>