<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
       
                <div id="copyright">
                    &copy; @Config.SSproject2Name <h1> <a style="color:cornflowerblue" href="https://drive.google.com/file/d/1v0DlJtfeTNYOjxbaPdP9chVa2ke-0lrH/view?usp=sharing"> ССылка на чат, присоединяйтесь для общения</a></h1>
                </div>

            </div>
        </div>
    </div>
</div>